autostart
cef_user_data
Code
dconf
discord
eog
evolution
gnome-control-center
gnome-sessioin
goa-1.0
gtk-3.0
gtk-4.0
ibus
inkscape
light
mpv
nautilus
ngrok
protonvpn
pulse
qt6ct
Rygel
spicetify
spotify*
systemd
torbrowser
totem
user-share
vlc
vscode-sqltools
yay
yelp
.gsd-keyboard*
*.db
dleyna-*
mimeapps*
monitors*
pavucontrol*
QtProject*
rygel*
user-dirs*