* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Firacode Nerd Font, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

/* window#waybar {
    background-color: #0c090a;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border: none;
    border-radius: 25px;
} */

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: rgb(156, 19, 49);
    border-radius: 5px;
}

tooltip label {
    color: white;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    /* border-radius: 6px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* background-color: rgb(85, 218, 173); */
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #e76666;
}

#workspaces button.active {
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
    background: #e98a8a;
    color: black;
}

#workspaces button.urgent {
    background-color: #f76767;
    color: black;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#mpd {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 15px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e78b8a;
}


#idle_inhibitor.activated {
    background-color: #d37272;
    color: black
}
